{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Set up a password{{serviceName}}{% endblock %}

{% block pageTitle %}Set up a password{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h2>Create an NHS account</h2>
      <div class="form-group">
        <label class="form-label-bold" for="field1">Email Address</label>
        <input class="form-control" id="field1" name="field1" type="email">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="field3">Create a password</label>
        <p class="small">Your password must have at least:</p>
        <ul>
          <li class="small">8 characters</li>
          <li class="small">one capital letter</li>
          <li class="small">one number</li>
          <li class="small">one symbol, for example: ?!£%</li>
        </ul>

        <input class="form-control" id="field3" name="field3" type="password">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="field2">Retype password</label>
        <input class="form-control" id="field2" name="field2" type="password">
      </div>
      <h3>Terms &amp; conditions</h3>
      <p class="small">We will collect and store your account information securely. We use your personal information in accordance with the site's privacy policy and terms and conditions. We won't disclose your personal information to any third parties without your consent.</p>
      <p class="small">If you want to delete your account, email deleteaccount@nhs.net with your email address and contact number.</p>

      <p><a href="privacy-policy" class="small">Read the privacy policy.</a></p>

    </div>
    <a class="button" href="check-email">I agree to Terms. Create account</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
