{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1 class="heading-large">My NHS Account</h1>

        <h2 class="heading-xlarge"><legend>Is the patient capable of using this service?</legend></h2>

        <p>This includes being:</p>
        <ul>
          <li>willing to manage their own health online</li>
          <li>of sound mind to be able to do that</li>
        </ul>
        <div style="display: inline-block; margin-right: 50px;">
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/alpha04/beta-invite2">
            Yes
          </label>
        </div>
        <div style="display: inline-block;">
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/alpha04/not-allowed">
            No
          </label>
        </div>

        

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

<div class="overlays overlay--dark">
  <button class="button button--close" data-action="overlay-close">×</button>

  <div class="overlay-dialog" tabindex="-1">
    <div class="signin-logo">
      <img src="/images/nhs-logotype-white.svg" onerror="this.onerror=null; this.src='/images/nhs-logotype-white.svg'">
    </div>
    <h2>My NHS Account</h2>
    <h1>Sign in / sign up</h1>
    <p>Select a way to sign in or sign up what happens if i can keep on typing so that it goes onto the next line</p>
    <button class="button-nhs">Continue with NHS login</button>
    <button class="button-verify">Continue with GOV.UK Verify</button>
    <button class="button-fb">Continue with Facebook</button>
    <button class="button-google">Continue with Google</button>
    <button class="button-twitter">Continue with Twitter</button>
  </div>


</div>

{% endblock %}

{% block footer %}{% endblock %}

