{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}



{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h2><legend>Invite to Leeds PHR</legend></h2>
        <p>This is a private beta test. Only invite patients who are willing to manage their own health online and are of sound mind to be able to do that.</p>
        <div class="form-group">
          <label class="form-label" for="field1">Email</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="field2">NHS Number</label>
          <input class="form-control" id="field2" name="field2" type="text">
        </div>

      </fieldset>
      <p>By sending this invite I agree that this person has clinical authorisation to view their medical record.</p>
    </div>
    <a class="button" href="start">Send invite</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
